.bar-container {
  background-color: #ffffff;
  /* border: 1px solid #f58f0a; */
  border-radius: 5px;
  /* padding: 20px; */
  box-shadow: 0 2px 4px rgba(168, 21, 21, 0.1);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
